.btn-container .capturePhoto {
    margin: 10px 33px;
}
.CaptureImage {
    -moz-box-shadow: 0 0 3px #ddd;
    -webkit-box-shadow: 0 0 3px #ddd;
    box-shadow: 0 0 3px #ddd;
    border-radius: 4px;
    padding: 15px;
}
.CaptureImage img, .CaptureImage .btn-container {
    padding: 15px;
}